.blogPreviewContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 3px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 5px;
}

.title{
    font-size: x-large;
    font-weight: bold;
}

.date{
    font-size: x-small;
}

.blogImage{
    height: auto;
}