.commentsContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .comment {
    width: 100%;
    max-width: 600px;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #2c3e50;
  }
  
  .commentInput {
    width: 100%;
    max-width: 600px;
    padding: 0.8rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #2c3e50;
  }
  
  .commentTextarea {
    width: 100%;
    max-width: 600px;
    padding: 0.8rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #2c3e50;
  }
  
  .commentButton {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    color: #2c3e50;
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .commentButton:hover {
    background-color: #16a085;
  }