/* Centering the .about div in the middle of the screen */
.main {
  display: flex;
  justify-content: center;
  align-items: center;   
  height: 100vh; 
  background-color: #DEF4E8; /* Soft light green background for the whole page */
}

/* CSS for home page */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  width: 50%;
  padding: 20px;
  background-color: #CCDDEF; /* Soft pastel blue background */
  border-radius: 10px;
  margin-top: -50px;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow effect */
}

.aboutImage img {
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Slight shadow around the image */
}

.aboutText {
  flex: 1;
  text-align: center;
}

.aboutText h2 {
  font-size: 24px;
  color: #333; /* Darker text for headings */
  margin-bottom: 10px;
}

.aboutText p {
  font-size: 16px;
  color: #333; /* Darker text for paragraphs */
  line-height: 1.5;
}