.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-geist-sans);
    text-align: center;
    gap: 2vh;
}

