@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

/*For Blog*/
.blog-element {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 12px;
  position: relative;
}
.blog-img {
  display: flex;
  justify-content: center;
}

.blog-text {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.25rem;
  line-height: 2;
  align-self: center;
}

/* Main Content Styles */
main {
  padding: 2rem;
  flex: 1;
}

.page-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-me-basic {
  text-align: center;
  margin-top: 2rem;
}

.about-me-basic p {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 8px;
  font-family: Georgia;
  font-weight: bold;
  text-align: center;
}

.resume {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

form {
  width: 0 auto;
  margin: 0 auto;
  text-align: center;
}

.project {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.project img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.project-description {
  max-width: 400px;
}

.project-description h2 {
  margin: 0;
}

.project-description p {
  margin-top: 10px;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/*Standard CSS Definitions:*/
h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
