.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin: 0 1rem;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.logo a:hover,
.nav-list a:hover {
  color: #ff5500;
}

.logo a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  font-weight: bold;
}
