:root {
  /* variables */
  --cg-black: rgb(43, 43, 43);
  --cg-blue: rgb(172, 216, 248);
  --cg-grey: rgb(43, 43, 43);
  --cg-white: rgb(204, 204, 204);
}

html {
  height: 100%;
}

body {
  background: var(--cg-grey);
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p,
h1,
h2,
h3,
li {
  color: var(--cg-white);
}

/* CSS for navigation */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: var(--cg-black);
  color: var(--cg-white);
  padding: 0px 0px;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;

}

.navbar a {
  color: var(--cg-white);
  font-weight: 600;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
  color: var(--cg-blue);
}

.navbar a:active {
  color: var(--cg-blue);
}

.logo a {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 40px;
}

.logo a:hover {
  text-decoration: None;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

/* CSS for portfolio grid */

.project {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 1em 0 2em 0;
  justify-content: center;

}

.item-link {
  width: 70%;

}

.project-image {
  object-fit: cover;
  width: 100%;
  height: 300px;
  flex-basis: 50px;
  flex-grow: 2;

}

.project-details {
  display: flex;
  background-color: white;
  width: 30%;
  height: 360px;
  flex-shrink: 1;
  padding: 0 20px;
  margin: 0px;
  line-height: 1.5;
  overflow: scroll;

  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.project-details a {
  color: var(--cg-black);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--cg-black);
}

.project-details a:hover {
  color: var(--cg-blue);
  text-decoration: underline;
}

.project-details {
  font-weight: lighter;
  color: var(--cg-black);
}

.project-name {
  font-weight: bold;
  font-size: 20px;
  color: var(--cg-black);
}
.project-description {
  color: var(--cg-black);
}

/* CSS for home page */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 100px;
  max-width: 1000px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.about-image img {
  max-width: 350px;
  justify-content: center;
  border-radius: 50%;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  color: var(--cg-white);
}

.about-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--cg-white);
}

.about-text p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--cg-white);
}

/* CSS for resume page */

.button {
  background-color: var(--cg-black);
  border: none;
  color: var(--cg-white);

  font-family: monospace;

  padding: 5px 7px;
  text-align: center;

  border-radius: 2px;
}

.button:hover {
  background-color: var(--cg-blue);
}

.resume h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--cg-white);
}

/* CSS for contact form */

label {
  display: block;
  margin-bottom: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

form {
  width: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  color: var(--cg-white);
}

/* CSS for footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cg-black);
  color: var(--cg-white);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}


/* CSS for Blog Posts */
.blogP{
  color: var(--cg-black);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
}

.blogH{
  color: var(--cg-black);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 40px;
}

.blogA{
  color: var(--cg-black);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  margin-left: 30px;
  margin-right: 30px;
}

.img{
  object-fit: cover;
  height: 300px;
  width: 300px;
}

.blogContainer{
  display: flex;
  background-color: white;
  width: 800px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 30px;
  margin-top: 30px;
}

.blog_paragraph{
  margin-left: 100px;
  margin-right: 100px;
}