.blogs {
    display: flex;
    background-color: #D6D5D5;
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 30px;
    margin: 30px, 30px;
    color: var(--cg-black);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
    margin-left: 500px;
  }
  
  .blog {
    margin-left: 100px;
    margin-right: 100px;
    color: var(--cg-black);
    
  }
  
  .blog img {
    object-fit: cover;
    height: 300px;
    width: 300px;
    
  }
  
  .blog h3{
    color: var(--cg-black);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 40px;
  }
  
  
  
  
  .blog p{
    color: var(--cg-black);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
  }
  